<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:ureport-console-context.xml"/>


    <!-- 配置报表文件保存的路径 -->
    <bean id="propertyConfigurer" parent="ureport.props">
        <property name="location" value="classpath:config.properties"/>
    </bean>

    <!-- ureport报表映射实体类 -->
    <!--    <bean id="ureprotBean" class="com.erpbuild.bean.UreportBean"></bean>-->

</beans>